
 h1,h2,h3 {
    font-family: Arial, sans-serif;
}
h2 { 
   color: #262626;
}
h3 {
    color: #444444;
    text-decoration: underline;

}
.exemple {
    font-family: "Courier New", monospace;
    background-color: #ededed;
    word-spacing: 10px;
}
h3 {
    line-height: 40px;
}
h2 {
    line-height: 60px
}
h3 + p {
    font-weight: bold;
}
#a {
    color:white;
    margin-top: 30px;
    width: 100px; 
    border: 100px solid blue;
 }

.padding-ex {
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 15px;

    /* Punem chenar pt demonstrarea diferentei dintre margin si padding */
    border: 1px solid red;
}

.margin-ex {
    margin-top: 10px;
    margin-right: 30px;
    margin-bottom: 50px;
    margin-left: 15px;

    /* Punem chenar pt demonstrarea diferentei dintre margin si padding */
    border: 1px solid red;
}

.ex-lh {
    line-height: 0.85;
}

.ex-shadow {
    text-shadow: 2px 2px 3px red;
}


ul li {
    list-style: none;
}


.patrat {
    width: 200px;
    height: 200px;
    border: 1px solid red;
}

.dreptunghi {
    border: 1px solid red;
    width: 30vw;
    height: 20vw;
}
